<%- include("partials/header"); -%>
    <h1>My first game with React Native</h1>
    <p> <%= blogContent1 %> </p>
    <br>
    <h1>How to build a movie search app using React Hooks</h1>
    <p><%= blogContent2 %> </p>
<%- include("partials/footer"); -%>
